/*CONTENT*/

.content {

    &__container {
    }

    &__body {
        display: flex;
        column-gap: 30px;
        width: 100%;
        justify-content: space-between;
    }

    &__center {

    }

    &__sidepanel {
    }
}

.center {
    max-width: 860px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__chart {
    }

    &__questions {
    }
}

.chart {
    width: 100%;
    margin-bottom: 110px;
    &__items {
    }
}

.chartItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    row-gap: 12px;

    &__body {
        width: 100%;
        display: flex;
        background-color: #ffffff;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        &_withRibbon{
            
            position: relative;
            .chartItem__logos{
                padding: 48px 88px 28px 28px;
            }

            .chartItem__ribbon{
                display: flex;
                align-items: center;
                column-gap: 8px;
                background-color: #035D4C;
                top: 12px;
                left: -7px;

                &_lightGreen{
                    background-color: #09A789;

                    &::before{
                        border-color: transparent #035D4C transparent transparent;
                    }
                }
            }
        }
    }

    &__logos {
        padding: 28px 88px 28px 28px;

        img{
            width: 150px;
            height: 58px;
            object-fit: contain;
        }
    }

    &__position{
        position: relative;
    }

    &__counter {
        position: absolute;
        left: -46px;
        top: 0px;
        background-color: white;
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 36px;

        font-weight: 400;
        font-size: 22px;
        line-height: 1.2;

        border-radius: 50%;
        border: 1px solid #010233;
        letter-spacing: -0.1px;
    }

    &__info {
        padding: 28px 0px;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        flex: 1;
    }

    &__countReviews {
        display: flex;
        align-items: center;
        column-gap: 4px;
        max-width: 348px;

        p{
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            color: #2D2D2D;
            margin: 0;
        }
    }

    &__reviews {
        font-size: 14px;
        font-weight: 600;
        color: #1789D5;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover{
            color: #1564BF;
        }
    }

    &__describe {
        max-width: 348px;

        p{
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: -0.1px;
            color: rgb(0, 0, 0);
        }
    }

    &__advantages {
        max-width: 348px;
    }

    &__advantage {
        display: flex;
        align-items: center;
        column-gap: 8px;

        p{
            font-weight: 400;
            line-height: 24px;
            font-size: 14px;
            color: rgb(0, 0, 0);
        }
    }

    &__last {
        padding: 28px;
        width: 209px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 20px;
    }

    &__rating {
        position: relative;
        &:hover{
            .rating__info{
                opacity: 0;
                transform: translate(50%, 0);
            }

            .rating__score{
                transform: scale(1.32) translate(-16%, 16%) translateZ(0);
            }

            .scoreCard {
                display: block;
            }
        }

        &::before{
            content: '';
            position: absolute;
            top: 0;
            right: -10px;
            background-color: transparent;
            z-index: 1;
            width: 10px;
            height: 40px;
        }
    }

    &__visit {
        flex: 1;
        display: flex;
        align-items: center;
    }
}
.rating_moreInfo {
    cursor: pointer;
    & .rating__info {
        transition: opacity 0.24s ease,transform 0.3s ease
    }

    & .rating__name {
    }

    &__stars {
    }

    & .rating__score {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        min-width: 38px;
        transition: transform 0.25s ease-out;

        p{
            font-size: 22px;
            line-height: 20px;
            text-align: center;
            font-weight: 700;
        }
        
    }
}

.sidepanel {
    
    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: flex-start;
        width: 300px;
        max-width: 30%;
        min-width: 300px;
    }


    &__dynamic {
        padding: 28px;
        display: flex;
        column-gap: 4px;
        height: 142px;
        flex-wrap: wrap;
        background: #F5F5F5;
        justify-content: space-between;
    }

    &__countSingles {
        display: flex;
        row-gap: 4px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 167px;

        p{
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            color: #39393a;
        }

        h3{
            font-family: Roboto;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            width: 167px;
            letter-spacing: 1px;
            color: #39393a;
            margin: 0;
        }
    }

    &__count {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        color: #39393a;
    }


    &__articlesBlock {
        padding: 28px;
        width: 300px;
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
        row-gap: 28px;

        h4{
            font-family: Roboto;
            margin: 0;
        }
    }

    &__mustRead {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        color: #2D2D2D;
        text-rendering: optimizelegibility;
    }

    &__articles {
    }

    &__allArticles {
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        color: #1789D5;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover{
            color: #1564BF;
        }
    }


    &__editorial {
        padding: 28px;
        max-width: 300px;
        background-color: #F5F5F5;
        width: 100%;
    }

    &__reviewTitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 16px;
        color: #2D2D2D;

        font-family: Roboto;
    }

    &__advantages {
        display: flex;
        margin-bottom: 28px;

        p{
            display: block;
            
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: -0.5px;
            color: #797979;
            flex: 1;
            padding: 0 8px;

            &:first-child{
                padding: 0 8px 0 0;
            }

            &:not(:last-child){
                border-inline-end: 1px solid;
            }

            &:last-child{
                padding: 0 0 0 8px;
            }
        }
    }

    &__reviews {
    }

    &__allReviews {
        color: #1789D5;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
    }
}

.article {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    margin: 0;

    &__body {
        width: 100%;
        display: flex;
        column-gap: 12px;
        text-decoration: none;

        img{
            height: 76px;
            width: 76px;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__description {
        font-weight: 400;
        font-size: 14px;
        color: #2D2D2D;
        line-height: 18px;
        margin-bottom: 4px;;
    }

    &__more {
        font-weight: 400;
        font-size: 12px;
        color: #797979;
    }
}

.review {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    margin-bottom: 28px;

    &__body {
        display: flex;
        column-gap: 16px;
        flex: 1;

        img{
            
        }
    }

    &__img{
        background-color: white;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;

        p{
            color: #2D2D2D;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: -0.1px;
        }

        span{
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            color: #1789D5;
        }
    }
}

.rating {

    &__scoreCard {
    }
}



.questions {

    display: block;
    padding: 40px 0 0;
    width: 100%;
    margin: 0 10px 60px 0;
    position: relative;

    &__topTen {
        display: flex;
        width: 100%;
        word-break: break-word;
        justify-content: space-evenly;
        background-color: #F5F5F5;
        max-width: 835px;
        height: 60px;
        align-items: center;
        margin-bottom: 60px;

        p{
            padding: 12px;
            display: block;
            font-weight: 400;
            font-size: 14px;
            word-break: break-word;
            color: #797979;
        }
    }

    &__topTenLogo {
        padding: 12px;
    }

    &__body {
        max-width: 835px;
        padding: 0;
        width: 100%;

        h2{
            font-size: 20px;
            line-height: 27px;
            font-weight: 700;
            color: #2d2d2d;
            margin: 0 0 20px 0;

            text-transform: none;
            letter-spacing: 0;
            font-family: Roboto;
        }

        h3{
            font-size: 16px;
            line-height: 27px;
            font-weight: 700;
            color: #2d2d2d;
            margin: 0 0 20px 0;
        }

        p{
            display: block;
            margin: 0 0 20px 0;
            font-size: 16px;
            line-height: 27px;

            word-wrap: break-word;
            font-weight: 400;
            color: #2d2d2d;
        }

        strong{
            font-weight: 600;
            display: block;
            margin: 0 0 20px 0;
            font-size: 16px;
            line-height: 27px;
            color: #2d2d2d;
        }

        a{
            text-decoration: none;
            font-weight: 600;
            color: #1789d5;

            transition: color 0.2s linear;

            &:hover{
                color: #1564bf;
            }
        }
    }

    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: -5px;
        border-top: 1px solid #d5d5d5;
    }
}
